{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
    <h1>Keskusteluaiheet</h1>
  
  <p>
    <a href="{{base_path}}/aihe/uusi" class="btn btn-success">Lisää aihe</a>
  </p>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kuvaus</th>
        <th>Kirjoituksia</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for aihe in aiheet %}
      <tr>
        <td><a href="{{base_path}}/aihe/{{aihe.id}}">{{aihe.nimi}}</a></td>
        <td>{{aihe.kuvaus}}</td>
        <td>{{aihe.kirjoituksia}}</td>
        <th>
            {{forms.edit_button("#{base_path}/aihe/muokkaa/#{aihe.id}")}}
            {{forms.destroy_button("#{base_path}/aihe/poista/#{aihe.id}")}}              
            </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}