{% extends "base.html" %}
{% block content %}
    <h1>Keskusteluaiheet</h1>
  
  <p>
    <a href="{{base_path}}/aihe/uusi" class="btn btn-success">Lisää aihe</a>
  </p>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kuvaus</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for aihe in aiheet %}
      <tr>
        <td><a href="{{base_path}}/aihe/{{aihe.id}}">{{aihe.nimi}}</a></td>
        <td>{{aihe.kuvaus}}</td>
        <th>
            <a class="btn btn-default btn-sm" href="#">Muokkaa</a>
            <a class="btn btn-danger btn-sm" href="#">Poista</a>
        </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}