{% extends "base.html" %}
{% block content %}
    <h1>Ryhmat</h1>
  
    
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kuvaus</th>
        <th>Jäseniä</th>
      </tr>
    </thead>

    <tbody>
      {% for ryhma in ryhmat %}
      <tr>
        <td><a href="{{base_path}}/ryhma/{{ryhma.id}}">{{ryhma.nimi}}</a></td>
        <td>{{ryhma.kuvaus}}</td>
        <th>asd</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}