{% extends "base.html" %}
{% block content %}
  <h1>Ryhmän nimi</h1>
  
  <p>
    <a href="#" class="btn btn-success">Lisää käyttäjä</a>
  </p>
  
    
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kirjoitusten määrä</th>
        <th>Naamakerroin</th>
        <th>Viimeisin kirjoitus</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan aiheet tähän -->
      <tr>
        <td><a href="#">Einstein</a></td>
        <td>8000</td>
        <td>3</td>
        <td><label class="label label-danger">03.03.03</label></td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
        <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
      </tr>
    </tbody>
  </table>
  

{% endblock %}