{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjä</h1>
    
  <ul>
    <li><strong>Nimi:</strong>Aasdasdasd</li>
    <li><strong>Kirjoitusten määrä:</strong> 9999</li>
    <li><strong>Kommenttien määrä:</strong> <label class="label label-danger">300</label></li>
    <li><strong>Viimeisin kirjoitus:</strong> 07.09.1200</li>
  </ul>
  
  <h2>kirjoitukset</h2>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Otsikko</th>
        <th>Julkaisupvm</th>
        <th>Kommenttien määrä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan aiheet tähän -->
      <tr>
        <td><a href="#">Monipuolinen nuudelilounas</a></td>   
        <td><label class="label label-danger">03.03.03</label></td>
        <td>3</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
        <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
      </tr>
    </tbody>
  </table>

{% endblock %}