{% extends "base.html" %}
{% block content %}
<h1>Kirjoitukset</h1>

<p>
    <a href="{{base_path}}/kirjoitus/uusi" class="btn btn-success">Lisää kirjoitus</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Otsikko</th>
            <th>Aihe</th>
            <th>Julkaistu</th>
            <th>Julkaisija</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for kirjoitus in kirjoitukset %}
        {% import "macros/forms.html" as forms %}
        <tr>
            <td><a href="{{base_path}}/kirjoitus/{{kirjoitus.id}}">{{kirjoitus.nimi}}</a></td>
            <td>{{kirjoitus.aihe.nimi}}</td>
            <td>{{kirjoitus.julkaistu}}</td>
            <td>{{kirjoitus.julkaisija.nimi}}</td>
            <th>
                {{forms.edit_button("#{base_path}/kirjoitus/muokkaa/#{kirjoitus.id}")}}
                {{forms.destroy_button("#{base_path}/kirjoitus/poista/#{kirjoitus.id}")}}
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}