{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{kirjoitus.nimi}}</h1>

<p>{{kirjoitus.sisalto}}</p>
{% if (kirjoitus.julkaisija.nimi == kirjautunut_kayttaja.nimi or kirjautunut_kayttaja.ryhma_id == 1) %}
{{forms.edit_button("#{base_path}/kirjoitus/muokkaa/#{kirjoitus.id}")}}
{{forms.destroy_button("#{base_path}/kirjoitus/poista/#{kirjoitus.id}")}}
{% else %}
{{forms.seen_button("#{base_path}/kirjoitus/luettu/#{kirjoitus.id}", "Merkitse luetuksi")}}
{% endif %}
<ul>
    <li><strong>Aihe:</strong> 
        <a href="{{base_path}}/aihe/{{kirjoitus.aihe.id}}">{{kirjoitus.aihe.nimi}}</a>   
    </li>
    <li><strong>Julkaisija:</strong>
        <a href="{{base_path}}/kayttaja/{{kirjoitus.julkaisija.id}}">
            {{kirjoitus.julkaisija.nimi}}
        </a>
    </li>
    <li><strong>Julkaistu:</strong> {{kirjoitus.julkaistu}}</li>
    <li><strong>Kommentteja:</strong> {{kirjoitus.kommentteja}}</li>
</ul>    
<h4>Kirjoituksen lukeneet käyttäjät:</h4>
{% if kirjoitus.lukeneetKayttajat %}

    {% for kayttaja in kirjoitus.lukeneetKayttajat %}
    <a href="{{base_path}}/kayttaja/{{kayttaja.id}}">
            {{kayttaja.nimi}} 
        </a>
    {% endfor %}
 
{% else %} <p>Tyhjältä näyttää...</p>
{% endif %}

<h3>Kommentit:</h3>
{% if kommentit %}
{% for kommentti in kommentit %}

<p>{{kommentti.sisalto}}</p>
<strong>Julkaisija:</strong> {{kommentti.julkaisija.nimi}}
<br>
<strong>Julkaistu:</strong> {{kommentti.julkaistu}}
<!--{{forms.seen_button("#{base_path}/kommentti/nahty/#{kommentti.id}")}}-->
{% if (kommentti.julkaisija.nimi == kirjautunut_kayttaja.nimi  or kirjautunut_kayttaja.ryhma_id == 1)%}
{{forms.destroy_button("#{base_path}/kommentti/#{kommentti.id}")}}
{% endif %}
<br><br>
{% endfor %}
{% else %} <p>Tyhjältä näyttää...</p>
{% endif %}

<br>
<br>
<h4>Lisää kommentti:</h4>

<form method="post" action="{{base_path}}/kommentti">

    <div class="form-group">
        <label>Teksti</label>
        <textarea class="form-control" name="sisalto" > Jamma jamma jamma on ne ötökät nannaa, niistä nauttii herkkusuu! Suustani sisään, saatava on lisää. Niihin rakastuuuu-u-u-u-uuuuuu...
        </textarea>
    </div>
    <div class="form-group">
        <label></label>
        <input type="hidden" name="kirjoitus_id" value="{{kirjoitus.id}}" class="form-control">
    </div>    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Kommentoi</button>
    </div>
</form>
{% endblock %}