{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
{% endif %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{kirjoitus.nimi}}</h1>

<p>{{kirjoitus.sisalto}}</p>
<ul>
    <li><strong>Aihe:</strong> {{kirjoitus.aihe.nimi}}</li>
    <li><strong>Julkaisija:</strong> {{kirjoitus.julkaisija.nimi}}</li>
    <li><strong>Julkaistu:</strong> {{kirjoitus.julkaistu}}</li>
    <li><strong>Kommentteja:</strong>over 8000</li>
</ul>

<h2>Kommentit:</h2>

{% for kommentti in kommentit %}

    <strong>Julkaisija:</strong> {{kommentti.julkaisija.nimi}}
    <p>{{kommentti.sisalto}}</p> 
    <strong>Julkaistu:</strong> {{kommentti.julkaistu}}
    {{forms.destroy_button("#{base_path}/kommentti/#{kommentti.id}")}} 
    
{% endfor %}
<h4>Lisää kommentti</h4>

<form method="post" action="{{base_path}}/kommentti">

    <div class="form-group">
        <label>Teksti</label>
        <textarea class="form-control" name="sisalto" > Jamma jamma jamma on ne ötökät nannaa, niistä nauttii herkkusuu! Suustani sisään, saatava on lisää. Niihin rakastuuuu-u-u-u-uuuuuu...
        </textarea>
    </div>
    <div class="form-group">
        <label></label>
        <input type="hidden" name="kirjoitus_id" value="{{kirjoitus.id}}" class="form-control">
    </div>    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Kommentoi</button>
    </div>
</form>
{% endblock %}