{% extends "base.html" %}
{% block content %}

<div class="alert alert-success">
    {{message}}
</div>

<h1>{{kirjoitus.nimi}}</h1>

<p>{{kirjoitus.sisalto}}</p>
<ul>
    <li><strong>Aihe:</strong> {{kirjoitus.aihe.nimi}}</li>
    <li><strong>Julkaisija:</strong> {{kirjoitus.julkaisija.nimi}}</li>
    <li><strong>Julkaistu:</strong> {{kirjoitus.julkaistu}}</li>
    <li><strong>Viimeisin kommentti:</strong> 07.09.1200</li>
</ul>

<h2>Kommentit</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kirjoittaja</th>
            <th>Aika</th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan aiheet tähän -->
        <tr>
            <td>Riki Sorsan veli</td>
            <td>03.03.03</td>
        </tr>
    <p>Tiätsä kuka mä oon?</p>
</tbody>
</table>

<h4>Lisää kommentti</h4>

<form method="post" action="{{base_path}}/uusikommentti">

    <div class="form-group">
        <label>Teksti</label>
        <textarea class="form-control" name="sisalto" > Jamma jamma jamma on ne ötökät nannaa, niistä nauttii herkkusuu! Suustani sisään, saatava on lisää. Niihin rakastuuuu-u-u-u-uuuuuu...
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}